<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragments/head :: head">
</head>
<body class="hold-transition skin-blue sidebar-mini">
	<!-- Site wrapper -->
	<div class="wrapper">

		<div th:replace="admin/fragments/header :: header"></div>
		<!-- =============================================== -->

		<!-- Left side column. contains the sidebar -->

		<div th:replace="admin/fragments/sidebar :: sidebar"></div>
		<!-- =============================================== -->

		<!-- Content Wrapper. Contains page content -->
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>Chi tiết hóa đơn</h1>
				<ol class="breadcrumb">
					<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
					<li><a href="#">Examples</a></li>
					<li class="active">Blank page</li>
				</ol>
			</section>

			<!-- Main content -->
			<section class="content">

				<!-- Default box -->
				<div class="col-xs-12">
					<div class="box">
						<div class="box-header"></div>
						<!-- /.box-header -->
						<div class="box-body table-responsive no-padding">
							<table class="table table-hover">
								<tbody>
									<tr>
										<th>Hình ảnh sản phẩm</th>
										<th>Tên sản phẩm</th>
										<th>Số lượng</th>
										<th>Tổng tiền</th>
									</tr>

									<tr th:each="list: ${billdetail}">
										
										<td><img
											th:src="@{'/assets/images/products/' + ${list.product.image}}"
											alt="User Image" style="height: 100px; weight: 100px">
										</td>
										<td th:text="${list.product.name}"></td>
										<td th:text="${list.quantity}"></td>
										<td th:text="${list.totalLineitem}"></td>

									</tr>
								</tbody>
							</table>
						</div>

						<!-- /.box-body -->

					</div>

					<!-- /.box -->
				</div>
				<!-- /.box -->

			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->



		<div th:replace="admin/fragments/fooster :: fooster"></div>

	</div>
	<!-- ./wrapper -->

	<!-- jQuery 3 -->

	<script th:src="@{/admin/js/jquery.min.js}"></script>
	<script th:src="@{/admin/js/jquery-ui.js}"></script>
	<script th:src="@{/admin/js/bootstrap.min.js}"></script>
	<script th:src="@{/admin/js/adminlte.min.js}"></script>
	<script th:src="@{/admin/js/dashboard.js}"></script>
	<script th:src="@{/admin/tinymce/tinymce.min.js}"></script>
	<script th:src="@{/admin/tinymce/config.js}"></script>
	<script th:src="@{/admin/js/function.js}"></script>
</body>
</html>
