<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<div th:replace="web/fragments/head :: head"></div>
</head>

<body>
	<header>
		<!-- Include header fragment -->
		<div th:replace="web/fragments/header :: header"></div>

	</header>
	<!-- Content fragment -->
	<div layout:fragment="content">
		<!-- Content from individual pages will replace this div -->
	</div>

	<!-- Footer fragment -->
	<div th:replace="web/fragments/footer :: footer">
		<!-- Footer content goes here -->
		<p>&copy; 2024 My Website</p>
	</div>

	<!-- Plugins JS File -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/bootstrap.bundle.min.js"></script>
	<script src="assets/js/jquery.hoverIntent.min.js"></script>
	<script src="assets/js/jquery.waypoints.min.js"></script>
	<script src="assets/js/superfish.min.js"></script>
	<script src="assets/js/owl.carousel.min.js"></script>
	<script src="assets/js/bootstrap-input-spinner.js"></script>
	<script src="assets/js/jquery.plugin.min.js"></script>
	<script src="assets/js/jquery.magnific-popup.min.js"></script>
	<script src="assets/js/jquery.countdown.min.js"></script>
	<!-- Main JS File -->
	<script src="assets/js/main.js"></script>
	<script src="assets/js/demos/demo-3.js"></script>
</body>

</html>