<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragments/head :: head">
</head>
<body class="hold-transition skin-blue sidebar-mini">
	<!-- Site wrapper -->
	<div class="wrapper">

		<div th:replace="admin/fragments/header :: header"></div>
		<!-- =============================================== -->

		<!-- Left side column. contains the sidebar -->

		<div th:replace="admin/fragments/sidebar :: sidebar"></div>
		<!-- =============================================== -->

		<!-- Content Wrapper. Contains page content -->
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>Quản lí danh mục</h1>
				<ol class="breadcrumb">
					<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
					<li><a href="#">Examples</a></li>
					<li class="active">Blank page</li>
				</ol>
			</section>

			<!-- Main content -->
			<section class="content">

				<!-- Default box -->
				<div class="col-xs-12">
					<div class="box">
						<div class="box-header">
							<a href="/admin/create-category" class="btn btn-success">+Tạo
								mới danh mục</a>

							<div class="box-tools">
								<form>
									<div class="input-group input-group-sm" style="width: 150px;">
										<input type="text" name="keyword"
											class="form-control pull-right" placeholder="Search"
											th:value="*{keyword}">

										<div class="input-group-btn">
											<button type="submit" class="btn btn-default">
												<i class="fa fa-search"></i>
											</button>
										</div>
									</div>
								</form>

							</div>
						</div>
						<!-- /.box-header -->
						<div class="box-body table-responsive no-padding">
							<table class="table table-hover">
								<tbody>
									<tr>
										<th>Mã danh mục</th>
										<th>Tên danh mục</th>
										<th>Mô tả</th>
										<th></th>


									</tr>
									<tr th:each="list: ${list}">
										<td th:text="${list.id}"></td>
										<td th:text="${list.name}"></td>
					

										<td><a
											th:href="@{/admin/update-category/{id}(id=${list.id})}"
											class="btn btn-success">Cập nhật</a> <a
											th:href="@{/admin/delete-category/{id}(id=${list.id})}"
											onclick="return confirm('Do you want to delete it?')"
											class="btn btn-danger">Xóa</a></td>
									</tr>



								</tbody>
							</table>
						</div>
						<div class="box-footer clearfix">
							<ul class="pagination pagination-sm no-margin pull-right">
								<li th:if="${curPage>1}"> <a  th:href="@{'?pageNo=' + ${curPage-1}}"> &lt&lt </a>  </li>
								<li th:each="i:${#numbers.sequence(1,totalPage)}" th:classappend="${curPage == i ? 'active' : ''}">  
									<a th:href="@{${keyword != null && keyword !='' ? '?keyword=' +keyword + '&' :'?'} +'pageNo=' + ${i}}"   th:text="${i}"> </a> 
								 </li>
								<li th:if="${curPage < totalPage}"> <a th:href="@{'?pageNo=' + ${curPage+1}}">  &gt&gt </a>  </li>
							</ul>


						</div>
						<!-- /.box-body -->
						
					</div>
					
					<!-- /.box -->
				</div>
				<!-- /.box -->

			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->



		<div th:replace="admin/fragments/fooster :: fooster"></div>

	</div>
	<!-- ./wrapper -->

	<!-- jQuery 3 -->

	<script th:src="@{/admin/js/jquery.min.js}"></script>
	<script th:src="@{/admin/js/jquery-ui.js}"></script>
	<script th:src="@{/admin/js/bootstrap.min.js}"></script>
	<script th:src="@{/admin/js/adminlte.min.js}"></script>
	<script th:src="@{/admin/js/dashboard.js}"></script>
	<script th:src="@{/admin/tinymce/tinymce.min.js}"></script>
	<script th:src="@{/admin/tinymce/config.js}"></script>
	<script th:src="@{/admin/js/function.js}"></script>
</body>
</html>
