<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragments/head :: head">
</head>
<body class="hold-transition skin-blue sidebar-mini">
	<!-- Site wrapper -->
	<div class="wrapper">

		<div th:replace="admin/fragments/header :: header"></div>
		<!-- =============================================== -->

		<!-- Left side column. contains the sidebar -->

		<div th:replace="admin/fragments/sidebar :: sidebar"></div>
		<!-- =============================================== -->

		<!-- Content Wrapper. Contains page content -->
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>Quản lí Khách Hàng</h1>
				<ol class="breadcrumb">
					<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
					<li><a href="#">Examples</a></li>
					<li class="active">Blank page</li>
				</ol>
			</section>

			<!-- Main content -->
			<section class="content" >

				<!-- Default box -->
				<div class="col-md-8">
					<!-- general form elements -->
					<div class="box box-primary">
						<div class="box-header with-border">
							<h3 class="box-title">Chỉnh sửa khách hàng</h3>
						</div>
						<!-- /.box-header -->
						<!-- form start -->

							

							<div class="box-body" >
								<form role="form" method="post"
									th:action="@{/admin/update-user}" th:object="${user}">
									<input type="hidden" class="form-control" name="userid"
										placeholder="id" th:field="*{id}">
									
									<div class="form-group " >
										<label for="exampleInputEmail1">Họ Tên</label> 
										<input  style="border-color: #2db607"
											type="text" class="form-control" name="name"
											placeholder="Name" th:field="*{fullname}">
									</div>

									<div class="form-group">
										<label for="exampleInputEmail1">Email</label>
										 <input  style="border-color: #2db607"
											type="text" class="form-control" name="name"
											placeholder="Brithdate (yyyy-mm-dd)" th:field="*{email}">
									</div>

									<div class="form-group">
										<label for="exampleInputEmail1"> Số điện thoaị</label>
										 <input  style="border-color: #2db607"
											type="text" class="form-control" name="name"
											placeholder="Name" th:field="*{phone}">
									</div>

									<div class="form-group">
										<label for="exampleInputEmail1">Mật khẩu </label> 
										<input  style="border-color: #2db607"
											type="text" class="form-control" name="name"
											placeholder="Name" th:field="*{password}">
									</div>

									
									</div>
									<button type="submit" class="btn btn-primary">Cập nhật</button>
									<button onclick="history.back()" class=" btn-primary"
									style="float: right">Back</button>
								</form>
							
							</div>
				
					</div>

				</div>
				
		</div>
		<div th:replace="admin/fragments/fooster :: fooster"></div>
		<div></div>
	</div>
	</div>

	</div>






	</div>
	</div>
	<!-- /.box-body -->



	</div>

	<!-- /.box -->
	</div>
	<!-- /.box -->

	</section>
	<!-- /.content -->

	</div>
	<!-- /.content-wrapper -->





	</div>
	<!-- ./wrapper -->

	<!-- jQuery 3 -->

	<script th:src="@{/admin/js/jquery.min.js}"></script>
	<script th:src="@{/admin/js/jquery-ui.js}"></script>
	<script th:src="@{/admin/js/bootstrap.min.js}"></script>
	<script th:src="@{/admin/js/adminlte.min.js}"></script>
	<script th:src="@{/admin/js/dashboard.js}"></script>
	<script th:src="@{/admin/tinymce/tinymce.min.js}"></script>
	<script th:src="@{/admin/tinymce/config.js}"></script>
	<script th:src="@{/admin/js/function.js}"></script>
</body>
</html>
